@tailwind base;
@tailwind components;
@tailwind utilities;


.flickity-enabled, .flickity-viewport{
 @apply overflow-hidden !outline-none;
}
.featured-products .flickity-slider{
    @apply space-x-[22px];
}
.subcollections  .flickity-slider{
    @apply space-x-2;
}
.reviews .flickity-slider{
    @apply space-x-2;
}
.product-thumbs-images-slider .flickity-slider{
    @apply space-x-2;
}
button.flickity-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background: #000;
}

button.flickity-button.flickity-prev-next-button.previous {
    left: 0;
}

button.flickity-button.flickity-prev-next-button.next {
    right: 0;
}
.scroll-bar-hide::-webkit-scrollbar {
width: 0px;
}